/* CSS here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_required {
  color: red;
}
.form_link {
  text-decoration: none;
  color: #218bff;
}
.form_link:hover {
  text-decoration: underline;
}

.form_wrapper {
  width: 550px;
}
.form_header {
  text-align: center;
  margin-bottom: 4rem;
}
.pre_title {
  font-size: 17px;
  color: #888;
  font-weight: 400;
}
.title {
  font-size: 2.18rem;
}
.form_body {
  width: 100%;
}

.form_group {
  margin: 16px 0 8px 0;
}

.form_group_label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}
.form_group_input {
  width: 100%;
  background-color: #f6f8fa;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form_group_input:focus {
  outline: #0550ae;
  border: 2px solid #0550ae;
}
.form_password_info {
  font-size: 13px;
  color: #777;
}

.form_checkbox_label {
  font-size: 15px;
  color: #666;
}
.form_checkbox_input {
  margin-right: 5px;
}
.create_account_btn {
  background-color: #1f883d;
  display: block;
  width: 100%;
  padding: 12px 14px 18px 14px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  margin: 15px 0;
}
.form_terms {
  font-size: 13px;
  color: #444;
}

@media screen and (max-width: 520px) {
  .form_wrapper {
    width: 100%;
    padding: 0 1rem;
  }
}
