/* CSS here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

/* utility classes */
.cursor--pointer {
  cursor: pointer;
}

/* header */
.header {
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo__wrapper .mdi-menu {
  font-size: 25px;
  vertical-align: bottom;
  margin-right: 1rem;
  margin-left: 8px;
}

.header__logo {
  height: 25px;
}
.search__wrapper {
  display: flex;
  flex: 0 1 732px;
  gap: 1rem;
}
.search__form {
  margin-left: 160px;
  display: flex;
}
.search__input {
  width: 540px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}
.search__input__lens {
  background-color: #f8f8f8;
  height: 40px;
  width: 64px;
  padding: 5px;
  border: 0;
  border: 1px solid #d3d3d3;
  border-left: 0;
  border-radius: 0 25px 25px 0;
}
.search__input:focus {
  outline: none;
  border: 1px solid #ddd;
}
.search__input__lens__icon {
  font-size: 25px;
  color: #444;
}
.search__voice__btn {
  height: 40px;
  width: 40px;
  padding: 8px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}
.search__voice__btn__icon {
  font-size: 25px;
  display: inline-block;
  line-height: 26px;
}
.search__voice__btn:hover {
  background-color: rgba(0,0,0,0.1);
}

.action__icons {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 30px;
}
.action__icons__video__create,
  .action__icons__apps,
  .action__icons__notifications {
  font-size: 25px;
}
.action__icons__video__create {
  font-size: 32px;
}
.action__icons__lens__icon {
  display: none;
}
.action__icons__profile__img {
  height: 27px;
}

/* body content */
.body__content {
  display: flex;
}
.body__left__content {
  margin-top: 10px;
}
.sidebar {
  width: 230px;
  background: #fff;
  padding: 0 1rem;
}
.sidebar__item {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  height: 40px;
}
.sidebar__item.active,
  .sidebar__item:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}
.sidebar__wrapper span {
  display: inline-block;
}
.sidebar__item__icon {
  font-size: 25px;
  width: 25px;
}
.sidebar__item__img {
  height: 20px;
  width: 25px;
}
.sidebar__item__title {
  font-size: 16px;
  padding-bottom: 4px;
}
.sidebar__wrapper__divider {
  margin: 12px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.chips__wrapper {
  position: fixed;
  top: 60px;
  left: 250px;
  right: 0;
  background: #fff;
  height: 50px;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  gap: 12px;
}
.chips__item {
  height: 34px;
  min-width: 12px;
  display: inline-block;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.05);
  padding: 7px 12px;
  cursor: pointer;
  color: #111;
  font-size: 15px;
}
.chips__item.chips__all {
  background-color: #111;
  color: #fff;
}

.videos__wrapper {
  position: relative;
  top: 40px;
  padding-top: 30px;
  padding-left: 20px;
  margin: 0 1rem;
}
.videos__featured__container {
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
}
.video__item {
  width: 370px;
  margin-bottom: 25px;
}
.video__item__thumb {
  width: 370px;
  height: 210px;
  border-radius: 12px;
  transition: border-radius 0.3s ease-in-out;
}
.video__item__thumb:hover {
  border-radius: 0;
}
.video__item__details {
  padding: 12px 0;
  display: flex;
  gap: 1rem;
}
.video__item__avatar__wrapper {
  display: inline-block;
}
.video__item__avatar__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0px 3px rgba(0,0,0,0.2);
}
.video__item__meta {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.video__item__meta__title {
  margin-bottom: 7px;
  font-size: 17px;
  max-height: 42px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video__item__meta__user, .video__item__meta__views {
  font-size: 15px;
  color: #555;
}
.video__item__meta__user {
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 16px;
}
.video__item__meta__views .dot {
  font-size: 10px;
  display: inline-block;
  margin: 0 3px;
}

.divider {
  border: 2px solid #ddd;
  margin: 2rem;
}

.shorts__wrapper {
  padding-left: 20px;
  margin-left: 1rem;
}
.shorts__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.shorts__icon {
  height: 25px;
}
.shorts__close__wrapper {
  padding: 5px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.shorts__close__wrapper:hover {
  background-color: #efefef;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 50%;
}
.shorts__close__btn {
  font-size: 30px;
}
.shorts__content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.shorts__item {
  width: 225px;
}
.shorts__item__thumb {
  height: 400px;
  width: 225px;
  border-radius: 12px;
  box-shadow: 0 1px 4px #ccc;
}
.shorts__item__title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 42px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.shorts__item__views {
  color: #555;
  font-size: 15px;
}
.shorts__bottom {
  max-width: 96%;
  margin: 0 auto;
}
.arrow__down__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  padding: 10px 5rem;
}
.arrow__down__container:hover {
  background-color: #ddd;
}
.shorts__divider {
  border: 2px solid #ddd;
}


@media screen and (max-width: 520px) {
  .mb-hide {
    display: none;
  }
  .action__icons {
    margin-right: 0;
  }
  .action__icons__lens__icon {
    display: block;
  }
  .chips__wrapper {
    left: 0;
    right: auto;
  }
  .chips__item {
    height: 28px;
    font-size: 12px;
  }
  .videos__wrapper {
    padding-left: 0;
  }
  .video__item {
    width: 100%;
  }
  .video__item__thumb {
    width: 100%;
  }

  .shorts__wrapper {
    padding: 0;
    margin: 0 1rem;
  }
  .shorts__header {
    padding: 0;
  }
  .shorts__item {
    width: 160px;
  }
  .shorts__item__thumb {
    height: 280px;
    width: 160px;
  }
}



